# Firebase (Vite에서 사용하므로 VITE_ 접두사 필수)
VITE_FIREBASE_API_KEY=AIzaSyD1u0-UkwZuK3ubY4MiUz5DYCND06lEtpk
VITE_FIREBASE_AUTH_DOMAIN=student-record-analysis.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=student-record-analysis
VITE_FIREBASE_STORAGE_BUCKET=student-record-analysis.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=17461152117
VITE_FIREBASE_APP_ID=1:17461152117:web:7723c0f3aff1ec2407ab3c
